{%  extends 'blog/base.html' %}

{% block title %}Post List{% endblock %}


{% block content %}
    <div class="container">
        <h1><a href="{% url 'post_list' %}">Post List</a></h1><br>
        <div class="row">
        {% for post in posts %}
            <div class="col-sm-12 col-md-5 post text-center">
                <h2 class="display-5"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <small><em>{{ post.published_Date }}</em></small>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}