h1 a, h2 a, h3 a {
    color: #1416ff;


}
h1,h2, h3,h4, h5, a, p, small{
    font-family: 'Acme', cursive;
}
a:hover{
    color: #1416ff;
    text-decoration: none;
}

body {
    padding-left: -15px;
}

nav{
    background-color: #78ebff;
}
.post{
    background-color: #92ecff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.post:hover{
    background-color: #37dcff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.login{
    margin-right: 10px;
}
